.menu-section .card.menu-card{
    border: none;
    overflow: hidden;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.menu-section .card.menu-card>a{
    position: relative;
}
.menu-section .card.menu-card>a>.menu-card-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96,96,96,.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
.menu-section .card.menu-card>a>img{
    width: 100%;
    transform-origin: bottom;
    transition: 0.3s all ease-in-out;
}
.menu-section .card.menu-card>a:hover>img{
    transform: scale(1.1);  
}
.menu-section .card.menu-card>a:hover>.menu-card-overlay{
    opacity: 1;
    visibility: visible;
    /* transition: all .3s ease-out; */
}
.menu-section .menu-type{
    font-size: 30px;
    position: relative;
    max-width: 200px;
}
.menu-section .menu-type.active button::before{
    content: ' ';
    bottom: 5px;
    left:0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    background-color: rgb(129 189 211);
    height: 5px;
    width: 80%;
}
.menu-section button.menu-type-btn{
    background: transparent;
    border: none;
    position: relative;
    text-transform: capitalize;
}
.menu-section button.menu-type-btn:hover{
    background: transparent;
    border: none;
    position: relative;
    font-weight: 500;
    transform: scale(1.1);
    transition: ease-in 0.1s;
}
.menu-section button.menu-type-btn.active::after{
    content: '';
    position: absolute;
    left: 15%;
    bottom: 15px;
    width: 70%;
    height: 4px;
    background: #c8a27a;
}