:root{
  --dark-color: #282c34;
}

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* background-color: ; */
  font-family: 'Poppins', sans-serif!important;

}
.App{
  overflow: hidden;
  margin-top: 90px;
}

.App-header {
  background-color: var(--dark-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.appear{
  display: block!important;
}
.shown{
  opacity: 1!important;
  
}
.hidden{
  opacity: 0;
  display: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.waiting-for-app{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -50;
  opacity: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.waiting-for-app > div{
}
.App-link {
  color: #61dafb;
}

h1{
  font-size: 100px!important;
}
h2{
  font-size: 50px!important;
}
h3{
  font-size: 34px!important ;
}
.form-floating > label{
  color: #868686;
}
a.nostyle{
  text-decoration: none;
  color: inherit;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.logo-font{
  font-family: 'Roboto', serif;
}
img.logo{
  /* width: 100%; */
  max-width: 150px;
  width: 100%;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #dde6f3;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.breadcrumb{
  margin-top: 10px;
}
.btn{
  border-radius: 0!important;
}

.btn-light:hover{
  background: rgb(27, 27, 27)!important;
  color: white!important;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin:0px auto;
  background: var(--dark-color);
  color:floralwhite;
  margin-bottom: 2rem;
  min-height: 500px;
}
.nav-link{
  padding-left: 0!important;
  padding-right: 0!important;
  margin-right: 15px;
}
.navbar{
  background-color: white;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  position: relative;
  display: flex;
  height: 90px;
  /* background-color: #dde6f3; */
  /* box-shadow: 1px 1px 10px gray; */
}
.navbar-scrolling{
  box-shadow: 1px 1px 10px gray;
}

.navbar .nav-link.active{
  border-bottom: solid 2px;
}
.navbar-links-left,
.navbar-links-right{
  width: 50%;
}
.navbar-links-left .navbar-links-container{
  float: left;
  padding-left: 180px;
}
.navbar-links-right .navbar-links-container{
  float: right;
  padding-right: 180px;
}
.navbar-links-container{
  justify-content:space-between;
  width: 74%;
  display: flex;
}
.navbar-links-container .nav-link{
  margin: 0;
}
.navbar-links-container a{
  text-decoration: none;
  color: inherit;
}
.navbar-logo{
  position: absolute;
  left: 50%;
  /* transform: scaleX(1px); */
  /* width: 120px; */
  z-index: 30;
  text-align: center;
  transition: top 250ms ease-out,height 250ms ease-out;
  top: 0px;
}
.navbar-logo> a{
  transform: translate(-50%,10px);
}
.navbar-logo::before{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 120%;
  height: 120%;
  content: '';
  background-color: white;
  border-radius: 90%;
  z-index: -50;
  box-shadow: 1px 1px 10px gray;
}
.navbar-logo::after{
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 0;
  width: 140%;
  min-height: 90px;
  content: '';
  background-color: white;
  z-index: -1;
  /* box-shadow: 1px 1px 10px gray; */
}
.navbar-collapse-menu{
  z-index: 40;
  width: 100%;
  display: none;
}
.navbar-collapse-menu>:first-child{
  line-height: calc(90px - 1rem);
}
.navbar-collapse-menu>.navbar-collapse{
  background: white;
  margin-left: 20px;
  padding: 20px;
  box-shadow: rgb(98 98 98) 4px 6px 10px;
}
.navbar-collapse-menu.active{
  background-color: white;
}
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
  z-index: 10;
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
  z-index: 1;
  
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
a.btn-social-icon{
  border-radius: 40%!important;
  border: none!important;
}
a.btn-social-icon.size-2x{
  width: 45px;
  height: 45px;
}
a.btn-social-icon.size-2x>:first-child{
  font-size: 2em;
}
a.btn-social-icon.size-3x{
  width: 64px;
  height: 64px;
}
a.btn-social-icon.size-3x>:first-child{
  font-size: 3em;
}
a.btn-social-icon>:first-child{

  top: 50%!important;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
a.btn-plain{
  background-color: transparent;
}
a.btn-plain-dark{
  background-color: #83766d
}

.cmt-page-numbers li{
  display: inline;
}
li.page-btn{
  cursor: pointer;
  margin-right: 5px;
}
li.page-btn.active{
  background-color: rgb(226 236 236);
  font-weight: 700;
  border-radius: 2px;
}
li.page-btn:hover{
  font-weight: 700;
  transition: all ease-in 0.5;
}
#comment-box{
  min-height: 520px;
}

#submit-btn{
  /* width: 80%; */
}
.btn-subcribe-us{
  margin-top: 5px;
  width: 100%;
  padding: 10px 0!important;
}

@media screen and (max-width: 992px) {
  /* nav a.navbar-brand{
    width: calc(100% - 54px - 54px);
    text-align: center;
  } */

  .navbar-links-container{
    width: 67%;
  }
  .navbar-links-right .navbar-links-container{
    padding-right: 75px;
  }
  .navbar-links-left .navbar-links-container{
    padding-left: 75px;
  }
}
@media screen and (max-width: 768px) {
  /* nav a.navbar-brand{
    width: calc(100% - 54px - 54px);
    text-align: center;
  } */
  .navbar-collapse-menu{
    display: flex;
  }
  .navbar-links-left,
  .navbar-links-right{
    display: none;
  }
}
/* md */

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



